@page
@model IDP.Pages.Admin.IdentityUsers.AddClaimModel
@{
}
<div class="clients-page">
    <div class="row">
        @{
            if (Model.error != "" && Model.error != null)
            {
                    <div class="alert alert-danger">
                        @Model.error
                    </div>
            }
        }
        <h2>
            API Scopes
        </h2>
    </div>
</div>
